#index{
	@include text(16px);
		.otstup{
			height: 120px;
		}
		
		h1{
			@include text(50px, $blue);
			text-align: left;
			margin-left: 35px;
			margin-bottom: 20px;
			margin-top: 20px;
			font-weight: 100;
			span{
				font-weight: 900;
			}
		}
		.deposit{
			padding-top: 80px;
			min-height: 100vh;
			background-color:#c9dbf1 ;
			background-image: url(images/polit.jpg) ;
			background-position: bottom;
			background-repeat: no-repeat;
			background-size: 101%;
			img.persent{
				width: 70%;
				margin-left: 15%;
			}
			h3{
				text-align: center;
				@include text(24px, $blue);
				margin-top: 20px;
				margin-bottom:20px;
			}
			.depositBlock{
				padding: 0 40px;
				margin-top: 25px;
				img{
					float:left;
					margin-right: 10px;
				}
				p{
					@include text(18px);
					    padding-left: 40px;
				}
			}
			.protectBlock{
				//margin-bottom: -100px;
				    padding-top: 230px;
				width: 60%;
				margin-bottom: 40px;
				margin-left: 20%;
				img{
					float:left;
					margin-right: 20px;
				}
				p{
					text-align: center;
					@include text(18px);
				}

			}

		}
		.polit{
		
			position: relative;
			min-height: 100vh;
			background-color: #c9dbf1;
			background-image: url(images/polit.jpg) ;
			background-position: bottom;
			background-repeat: no-repeat;
			background-size: 101%;
			button{
				position: absolute;
				top: 140px;
				padding:10px 50px;
				@include text(26px);
				background-color: #b1182e;
				color:white;
				border:none;
				border-radius: 5px;
				margin-left: 50%;
    transform: translate(-50%);

			}
		}

		.perevagi{
			    padding-top: 120px;
			background-color: #ececf2;
			text-align: center;
			min-height: 100vh;
			.newAkcia{
				display:inline-block;
				margin-top: 40px;
			}
			.perevagiTitle{
				padding-top: 60px;
				margin-bottom: 80px;
				.perevagiImg{
					color:red;
					width:30px;
					margin-top: -20px;
					//float:left;
				}
				h2{
					position: static;
					@include text(30px, $blue);
					display:inline-block;
					text-transform: uppercase;
					margin:0;
					font-weight: 500;

				}
			}
			.vkladBlock {
				margin-left: 50%;
    				transform: translate(-50%);
				margin-top: 60px;
				text-align: left;
				min-height: 70px;

				img{
					border-radius: 50%;
					background-color: white;
					padding:0px;
					//border: 16px solid white;
					width: 75px;
					height:75px;
					margin-right: 20px;
					float:left;

				}
				p{
					@include text(16px);
					top: 18px;
    				position: absolute;
   					display: inline-block;
					//display:inline-block;
				}
				p.specialConditions{
					top: 4px;
				}
			}

		}

		.umovi{
			    padding-top: 120px;
			text-align: center;
			min-height: 100vh;
			.umoviTitle{
				margin-top: 60px;
				margin-bottom: 80px;
				.umoviImg{
					color:red;
					width:30px;
					margin-top: -20px;
					//float:left;
				}
				h2{
					@include text(30px, $blue);
					display:inline-block;
					text-transform: uppercase;
					margin:0;
					font-weight: 500;

				}
			}
			.umoviBlock{
				margin-bottom: 25px; 
				img{
					margin: 10px;
				}
				p{
					@include text(16px);
					min-height: 36px;
				}
			}
			.perevagiImg{
					color:red;
					width:30px;
					margin-top: -20px;
					//float:left;
				}
				h2{
					position: static;
					@include text(30px, $blue);
					display:inline-block;
					text-transform: uppercase;
					margin:0;
					font-weight: 500;

				}
			}
			.vkladBlock {
				margin-left: 50%;
    				transform: translate(-50%);
				margin-top: 60px;
				text-align: left;
				min-height: 70px;

				img{
						border-radius: 50%;
					background-color: #c9dbf1;
					padding:0px;
					//border: 16px solid white;
					width: 75px;
					height:75px;
					margin-right: 20px;
					float:left;

				}
				p{
					@include text(16px);
					top: 10px;
    				position: absolute;
   					display: inline-block;
					//display:inline-block;
				}
				p.specialConditions{
					top: 4px;
				}
			

		

		}
			.calk{
				.light{
					z-index: 2;
					width: 100%;
				    height: 100%;
				    position: absolute;
				    top: 0px;
				    left:0px;
				    background: rgba(255,255,255,0.6);
				}
				.calkBlock{
					//display: none;
					opacity: 0.99;
					z-index: 5;
					position: absolute;
				}

					position: relative;
				    padding-top: 120px;
				text-align: center;
				background-color: #c9dbf1;
			background-image: url(images/bigsity.jpg) ;
			background-position: bottom;
			background-repeat: no-repeat;
			background-size: 101%;
				min-height: 100vh;
				//padding-left: 50px;
				input{
				width:80px;	
				padding: 2px;
				border: 2px solid #eee;
				border-radius: 5px;
				outline: none;
				}

				input[type=text] { 
					text-align:center ;
					color:$blue;
					
				//	padding-right: 5px;
				}
				#slider-value-1{
					text-align: right;
				}
				h2{
					@include text(30px,$blue);
					text-transform: uppercase;
					//margin-left: 35px;
					margin-top: 20px;
					margin-bottom: 20px;
					text-align: center;
				}
				#kinciSrocu, #chomisyatsa{
					display:none;
				}
				button{
					background:none;
					border:none;
					@include text(20px, $blue);
				}
				#kinciSrocuButton{
					color: $red;
				}
				#slider-value-2{
					display:none;
				}
				#decision_percent{
					@include text(50px);
					margin-top: 30px;
					margin-bottom: 30px;
				}
				.ui-widget-content{
					background: $red !important;
					border:none;
				}
				.grivnya, .dolar, .euro{
					display:inline-block;
					text-align: center;
					margin-right: 20px;
					margin-top: 20px;
					span{
						display:block;
					}
				}
				.prognoz{
					@include text(16px, $blue);
				}
				/* Специальные правила для браузеров на движках WebKit/Blink */
				label{
	    				@include text(16px);
	    				padding-top: 5px ;

	    			}
			}

			.forma{
				#Zgoda{
					width:auto;
					margin-top: 0px;
				}
				span.placeholder{
					position: absolute;
    				margin-top: 20px;

				}
				    padding-top: 120px;
				min-height: 100vh;
				background-color:#c9dbf1 ;
				background-image: url(images/bigsity.jpg) ;
				background-position: bottom;
				background-repeat: no-repeat;
				background-size: 101%;
				form{
					margin-top: 150px;
					padding: 30px;
					background-color: rgba(255, 255, 255, 0.3);
					margin-left: 20%;
	    			transform: translate(-12%);
	    			input{
	    				width:100%;
	    				margin-top: 25px;
	    				background-color: rgba(255, 255, 255, 0.0);
	    				border:none;
	    				border-bottom: 3px solid #ddd;
	    				outline:none;
	    				text-align: center;
	    			}
	    			
					button{
					width:100%;
					margin-top: 40px;
					bottom:30px;
					padding:10px 50px;
					@include text(20px);
					background-color: #b1182e;
					color:white;
					border:none;
					border-radius: 5px;
			//		

						}
				}
			}
}
label{
cursor: pointer;
}
button{
	outline: none;
}
 input[type="radio"] + label {
  display: inline-block;
  text-align: right;
  padding: 0;
  margin: 0 10px 0 0;
}
input[type="radio"] {
  //visibility: hidden;
}
input[type="radio"] + label:after {
  display: inline-block;
  content: " ";
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 4px;
  background: url('images/02.png');
  background-size: 101%;
}

input[type="radio"]:checked + label:after {
  background-position: 0 -21px;
}
.butCont{
	position: relative;
}
button span{
    float: left;
	margin-top: 5px;
    margin-left: 5px;
}
button img{
	float: left;
}
form button img{
	margin-left:25%;
}
form button span{
	margin-top: 10px;
}
.tas2uB{
	 @include text(16px);
    width: 100%;
    margin-top: 40px;
    background-color: $red;
        color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;

}
body#thanku{
	text-align: center;
	background:$lBlue;
	img{
		display:inline-block;
		max-height: 100vh;

	}
	overflow: hidden;



}
.panel{
margin:0 !important;
overflow:hidden;
}

 @media only screen and (max-width : 1600px){
	#index {

		.polit{
				button{
					//top: 550px;
					    margin-left: 40%;
		    			transform: translate(-30%);
				}
			}
		.deposit{
			h1{
				
			}
			h3{
				margin-top: 4vh;
				margin-bottom: 0px;
			}
			.depositBlock{
				margin-top: 20px;
				p{
					font-size: 15px;
				}
			}

			img.persent{
				width: 60%;
				margin-left: 20%;
			}
			.protectBlock{
				min-height: 100vh;
				margin-bottom: 0px;
			}

		}
			.perevagi{

			

    			.vkladBlock{
				margin-top: 4vh;
    			}
    			.perevagiTitle{
    				padding-top: 40px;
    			margin-bottom: 6vh;
    			}
			}
			.umovi{
				.umoviTitle{
					margin-top: 40px;
    			margin-bottom: 6vh;

				}
				.vkladBlock{
				margin-top: 4vh;
    			}
				.umoviBlock{
					margin-bottom:3vh;
					img{
						margin:1vh;
						height: 5vh;
					}

				}
				.tas2uB{
					margin-top: 3vh;
				}
			}
		
		}
	
 }

 @media only screen and (max-width : 1400px){
	#index {
		.calk{
		padding:70px;
	}
	

		.polit{
			button{
				top:90px;
			}
		}
	}
 }


 @media only screen and (max-width : 1200px){
	#index{
		h1{
			font-size: 30px;
		}
		.otstup{
			height: 0px;
		}
		.deposit{
			
		 
		 	.depositBlock{
			padding:10px;
		}
	}
		.deposit .protectBlock{
			width:100%;
			margin-left: 0;
		}
	}
	#index .polit{
		button{
			//top: 550px;
			//    margin-left: 10%;
    	//		transform: translate(5%);
		}
	}
	form button img{
	margin-left:15%;
		}
 } 
 @media only screen and (max-width : 1000px){
	#index{
		.deposit {
			
			.protectBlock{
			width:100%;
			margin-left: 0;
			    padding-top: 70px;
		}}

		h1{
			padding-top: 40px;
			font-size: 30px;
		}
		.forma{
			    margin-top: -40px;
		}
	#dzvinok{
		form{
			margin-top: 0;
			position: absolute;
			top:200px;
		}
	}
		.polit{
			    margin-top: -40px;
				
			button{
				width:80%;
				//margin-left: -5%;
				   margin-left: 10%;
    		transform: translate(5%);
				transform: none;
				
			}
		}


	}

 }
 @media only screen and (max-width : 767px){
#index {

		.deposit.about {
			    padding-top: 120px;
			h1{
			@include text(26px, $blue);
			margin:0px;
		}
		}
		.deposit h3{
			@include text(20px, $blue);
			margin-top: 5px;
		}
	.deposit {
		.depositBlock{
			margin-top: 5px;
		}
		.protectBlock{
			padding-top: 20px;
		}
		//padding-top: 240px;
		}
	#dzvinok form{
		top:300px;
	}
	.perevagi{
	//padding-top: 240px;
	} 
	.umovi{
	//padding-top: 240px;
	}
	.calk{
	//padding-top: 240px;
	}
.polit button {
	top: 40px;
}

		.calk{
		padding:120px;
	}
	

		.polit{
			button{
				top:90px;
			}
		
	}
	}

 }
 @media only screen and (max-width : 500px){
	#index{
		h1{
			margin-left: 0px;
			font-size: 40px;
			text-align: center;
			padding-top: 90px;
		}
		.deposit{
		text-align: center;
	//	min-height: 790px !important;
		.depositBlock{

		}
			img{
				display:none;
			}
			p{
				padding:0 !important;
			}
		}
		.polit{
			    margin-top: -40px;
			min-height: 400px;
			button{
				top:180px;
				width:90%;
			margin-left: 0;
			font-size: 14px;
			img{
				display:none;
			}
			//	transform: none;
			}
		}
		.calk{
			padding-left: 5px;
			text-align: center;
		}
		.perevagi .vkladBlock{
			    margin-left: 25%;
    transform: translate(-30%);
   			 p {
				top:6px;
    		}

		
    }
	.umovi{
		.vkladBlock{
			    margin-left: 10%;
    transform: translate(-10%);
   			 p {
				top:6px;
    		}
    	}
	}
	.form_1_block{
		    width: 90%;
   			margin-left: 5%;
   			#decision_percent{
   				font-size: 35px;
   			}
	}
	 #dzvinok{
	min-height: 480px;
	  form{
		top:145px;
	}
	}

	.forma form{
	    margin-left: 20%;
	    p{
	    	font-size:12px;
	    }
	    input{
	    //	font-size:12px;
	    }
	    span.placeholder{
			margin-top: 0;
	    }

	}
	
	.forma form button{

	 font-size:12px;
	}
	
	.perevagi{
		padding-top: 110px;
	}
	.umovi{
	padding-top: 110px;	
	}
	.calk{
		padding-top: 110px;	
		h2{
			margin-bottom:0;
		}
		.grivnya, .dolar, .euro{
			margin-top :0px;
			margin-right: 0px;
		}
	}
	.ui-slider-block{
			margin-top: 25px;
	}

	}
 }

 @media only screen and (max-height : 850px){
	#index	.deposit{
				//padding-top: 50px;
				h1{
				font-size: 38px;
				margin-top: 0px;
				}
			}


 }



 
 @media only screen and (max-height : 768px){
 	
 		#index {
 			.deposit{
		
			background-image: url(images/19mini.jpg) ;
			}


		.calk{
			#decision_percent{
				margin-top: 15px;
				margin-bottom: 15px;
			}
		}
 		.forma form{
			margin-top: 20px;
 		}
			.deposit{
				//padding-top: 50px;
				h1{
				font-size: 35px; 
				margin-top: 0px;
				}
				h3{
					font-size: 16px;
				}
				.depositBlock{
					padding:0;
					margin-top:10px;
					p{
						font-size: 13px;
						span{
							font-size: 8px;
						}
					}
				}
				.protectBlock{
					padding-top: 100px;
					p{
						font-size: 12px;
						span{
							font-size: 8px;
						}
					}	 
				}

			}

			.perevagi{
				min-height: 400px;
				.vkladBlock img{
					width:40px;
					height:40px;
				}
				.perevagiTitle{
				//	padding-top: 10px;
				}
				
				.vkladBlock{
					margin-top: 2vh;
				}
			}
			.umovi{
			.umoviTitle{
				margin-top: 40px;
			}
			.umoviBlock{
				margin-bottom: 2vh;
			}
			.vkladBlock img{
					width:40px;
					height:40px;
				}
				
				.vkladBlock{
					margin-top: 2vh;
				}

				
			}

 		

	
			}
 }

  @media only screen and (max-height : 500px){

  	.panel{
	overflow:scroll;
	}
	#index{
		 .polit{
			
	
			background-image: url(images/politmobile.jpg) ;
			background-color: #e9f1f9;
			}
	}	
  }