//colors
$lBlue : #dee4f2;
$white : #eee;
$black : #000;
$red : #cb2123;
$gray : #727272;
$orange : #f26921;
$blue : #16225f;
$dRed : #821432;
$lGray: #dddddc;

$stack-sans-serif : Helvetica, Arial, sans-serif;
$ubuntu: 'ubuntu', $stack-sans-serif;
//$Cuprum-BoldItalic: 'Cuprum-BoldItalic', $stack-sans-serif;
//$Cuprum-Italic: 'Cuprum-Italic', $stack-sans-serif;
//$Cuprum-Regular: 'Cuprum', $stack-sans-serif;


//breakpoints
$brk-lg : '(max-width: 1200px)';
$brk-md: '(max-width: 992px)';
$brk-sm : '(max-width: 768px)';
$brk-xs : '(max-width: 460px)';

